client
dev $VPN_DEV
proto $VPN_PROTO
remote $PIA_REMOTE $PIA_REMOTE_PORT
resolv-retry infinite
nobind
persist-key
persist-tun
cipher $VPN_CIPHER
auth $VPN_AUTH
tls-client
remote-cert-tls server
auth-user-pass credentials
comp-lzo
verb $VPN_VERBOSITY
reneg-sec 0
crl-verify /etc/ssl/openvpn/crl.pem
ca /etc/ssl/openvpn/ca.crt
disable-occ
